[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plumbum = "==1.8.2"
loguru = "==0.7.0"
pytest = "==7.4.0"
pyyaml = "==6.0.1"
app = {editable = true, path = "./app"}
pydantic = "==2.3.0"
pyparsing = "*"

[dev-packages]

[requires]
python_version = "3.11"
